project/node_modules
project/package-lock.json
project/building/clientExtension/extension
project/building/clientExtension/browserControl.xpi
project/building/npmPackage/browserControl.package.tar.gz
